<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Citenet</title>

    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="lib/angular-ui-select/dist/select.css">
    <link rel="stylesheet" href="lib/angular-bootstrap/ui-bootstrap-csp.css">
    <link rel="stylesheet" href="lib/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css">
    <link rel="stylesheet" href="/lib/alchemyjs/dist/alchemy.css">
    <link rel="stylesheet" href="css/home_login.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

</head>

<body>
<section ng-view></section>

<!-- Javascript -->

<script src="assets/js/jquery-1.11.1.min.js"></script>

<script src="/lib/d3/d3.min.js"></script>

<script src="/lib/lodash/dist/lodash.min.js"></script>

<script src="/lib/alchemyjs/dist/alchemy.js"></script>

<script type ="text/javascript" src ="/lib/angular/angular.js"></script>

<script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>

<script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>

<script type="text/javascript" src="/lib/angular-animate/angular-animate.js"></script>

<script type="text/javascript" src="/lib/ng-tags-input/ng-tags-input.min.js"></script>

<script type="text/javascript" src="/lib/angular-sanitize/angular-sanitize.min.js"></script>

<script type="text/javascript" src = "/lib/angular-ui-select/dist/select.js"></script>

<link rel="stylesheet" href="/lib/ng-tags-input/ng-tags-input.min.css">

<link rel="stylesheet" href="/lib/ng-tags-input/ng-tags-input.bootstrap.min.css">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<script type="text/javascript" src="/dashboard/dashboard.client.module.js"></script>

<script type="text/javascript" src="/dashboard/config/dashboard.client.route.js"></script>

<script type="text/javascript" src="/dashboard/services/dashboard.client.service.js"></script>

<script type="text/javascript" src="/dashboard/controllers/dashboard.client.controller.js"></script>

<script type ="text/javascript" src ="/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>


<script type ="text/javascript" src ="/lib/bootstrap-switch/dist/js/bootstrap-switch.js"></script>

<script type ="text/javascript" src ="/lib/angular-bootstrap-switch/dist/angular-bootstrap-switch.js"></script>

<script type="text/javascript" src="/signupPerson/signupPerson.client.module.js"></script>

<script type="text/javascript" src="/signupPerson/controllers/signupPerson.client.controller.js"></script>

<script type="text/javascript" src="/signupPerson/services/signupPerson.client.service.js"></script>

<script type="text/javascript" src="/signinPerson/signinPerson.client.module.js"></script>

<script type="text/javascript" src="/signinPerson/controllers/signinPerson.client.controller.js"></script>

<script type="text/javascript" src="/signinPerson/services/signinPerson.client.service.js"></script>

<script type="text/javascript" src="/roles/roles.client.module.js"></script>

<script type="text/javascript" src="/roles/controllers/roles.client.controller.js"></script>

<script type="text/javascript" src="/roles/services/roles.client.service.js"></script>

<script type="text/javascript" src="/shortest_path/shortest_path.client.module.js"></script>

<script type="text/javascript" src="/shortest_path/config/shortest_path.client.route.js"></script>

<script type="text/javascript" src="/shortest_path/services/shortest_path.client.service.js"></script>

<script type="text/javascript" src="/shortest_path/controllers/shortest_path.client.controller.js"></script>

<script type="text/javascript" src="/subject_area_connection/subject_area_connection.client.module.js"></script>

<script type="text/javascript" src="/subject_area_connection/config/subject_area_connection.client.route.js"></script>

<script type="text/javascript" src="/subject_area_connection/services/subject_area_connection.client.service.js"></script>

<script type="text/javascript" src="/subject_area_connection/controllers/subject_area_connection.client.controller.js"></script>

<script type="text/javascript" src="/sphere_influence/sphere_influence.client.module.js"></script>

<script type="text/javascript" src="/sphere_influence/config/sphere_influence.client.route.js"></script>

<script type="text/javascript" src="/sphere_influence/services/sphere_influence.client.service.js"></script>

<script type="text/javascript" src="/sphere_influence/controllers/sphere_influence.client.controller.js"></script>

<script type="text/javascript" src="/incoming_relation/incoming_relation.client.module.js"></script>

<script type="text/javascript" src="/incoming_relation/config/incoming_relation.client.route.js"></script>

<script type="text/javascript" src="/incoming_relation/services/incoming_relation.client.service.js"></script>

<script type="text/javascript" src="/incoming_relation/controllers/incoming_relation.client.controller.js"></script>

<script type="text/javascript" src="/home/home.client.module.js"></script>

<script type="text/javascript" src="/home/config/home.client.route.js"></script>

<script type="text/javascript" src="/home/controllers/home.client.controller.js"></script>

<script type="text/javascript" src="/getUser/getUser.client.module.js"></script>

<script type="text/javascript" src="/getUser/services/getUser.client.service.js"></script>

<script type="text/javascript" src="/auth/auth.client.module.js"></script>

<script type="text/javascript" src="/auth/providers/auth.client.provider.js"></script>

<script type="text/javascript" src="/application.js"></script>

<script src="assets/js/jquery-1.11.1.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.backstretch.min.js"></script>
<script src="assets/js/scripts.js"></script>

<!--[if lt IE 10]>
<script src="assets/js/placeholder.js"></script>
<![endif]-->

</body>

</html>