<nav class="navbar navbar-css navbar-inverse" role="navigation" style="margin-bottom:0">
    <div class="container-fluid">
        <div class="row">
            <div class="navbar-header col-md-2">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="/img/citenet_asu_logo.png" style="height:66px">
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class=" col-md-10 navbar-collapse" id="top-navbar-1" style="width:83.3%">
                <ul class="nav navbar-nav" style="float:right">
                    <li class="navbar-li">
                        {{firstName}}
                    </li>
                    <li class="navbar-li">
                        <a href="#!/dashboard">Home</a>
                    </li>
                    <li ng-controller="RoleStatusController" ng-show="is_systemAdmin==true" class="navbar-li">
                        <a href="#!/admin/">
                            <i class="fa fa-user-plus fa-2x" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="navbar-li">
                        <a href="#!/userSettings/">
                            <i class="fa fa-cog fa-2x" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li ng-controller="RoleStatusController" ng-show="is_admin == true||is_systemAdmin==true" class="navbar-li">
                        <a href="#!/uploadPapers/">
                            <i class="fa fa-cloud-upload fa-2x"></i>
                        </a>
                    </li>
                    <li style="padding-left:1em">
                    <span class="li-social">
                        <a href="/signout"><i class="fa fa-sign-out"></i></a>
                    </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="top-content">
    <div class="inner-bg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div class="panel-card panel panel-default" ng-controller="UploadPapersController as up">
                        <div class="panel-heading">
                            <div class="panel-title">
                                Upload a file containing Scopus-ID's of research papers
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-offset-3">
                                        <form name="up.upload_form" data-ng-submit="up.upload_papers()" class="registration-form">
                                            <div class="form-group">
                                                <label class="btn btn-default btn-file">
                                                    <input
                                                            type="file"
                                                            ngf-select
                                                            ng-model="up.file"
                                                            name="file"
                                                            ngf-pattern="'.txt'"
                                                            accept="'.txt'"
                                                            ngf-max-size="2MB"
                                                            />
                                                </label>
                                                <button style="padding:7px 15px" type="submit" class="btn btn-success">
                                                    <i class="fa fa-cloud-upload"></i>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="row">
                                    <div ng-show="up.showMessage" class="{{up.postUploadResult.type}} fadein fadeout" style="width:800px">{{up.postUploadResult.msg}}</div>
                                </div>
                                <div class="row" ng-show="up.is_uploaded == true">
                                    <div class="col-md-2 col-md-offset-1">
                                        File Progress:
                                    </div>
                                    <div class="col-md-offset-3">
                                        <div class="col-sm-4"><uib-progressbar class="progress-striped active" value=up.progress type="success">{{up.progress}}%</uib-progressbar></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div class="panel-card panel panel-default" ng-controller="UploadKeywordsController as key">
                        <div class="panel-heading">
                            <div class="panel-title">
                                Upload upto 5 keywords to filter graphs based on your keywords
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <form name="key.upload_key_form" data-ng-submit="key.upload_keywords()" class="registration-form">
                                        <div class="form-group" >
                                            <label for="keyword1">Keyword1</label>
                                            <div>
                                                <input type="text" data-ng-model="key.keyword1" id="keyword1" class="form-control" placeholder="keyword1" required>
                                            </div>
                                        </div>
                                        <div class="form-group" >
                                            <label for="keyword2">Keyword2</label>
                                            <div>
                                                <input type="text" data-ng-model="key.keyword2" id="keyword2" class="form-control" placeholder="keyword2">
                                            </div>
                                        </div>
                                        <div class="form-group" >
                                            <label for="keyword3">Keyword3</label>
                                            <div>
                                                <input type="text" data-ng-model="key.keyword3" id="keyword3" class="form-control" placeholder="keyword3" >
                                            </div>
                                        </div>
                                        <div class="form-group" >
                                            <label for="keyword1">Keyword4</label>
                                            <div>
                                                <input type="text" data-ng-model="key.keyword4" id="keyword4" class="form-control" placeholder="keyword4">
                                            </div>
                                        </div>
                                        <div class="form-group" >
                                            <label for="keyword1">Keyword5</label>
                                            <div>
                                                <input type="text" data-ng-model="key.keyword5" id="keyword5" class="form-control" placeholder="keyword5">
                                            </div>
                                        </div>
                                        <div class="form-group col-md-offset-5">
                                            <button style="padding:7px 15px" type="submit" class="btn btn-success">
                                                <i class="fa fa-cloud-upload"></i> Upload
                                            </button>
                                        </div>
                                        <br>
                                    </form>
                                </div>
                                <div class="row">
                                    <div ng-show="key.showKeywordMessage" class="{{key.postKeywordUploadResult.type}} fadein fadeout" style="width:800px">{{key.postKeywordUploadResult.msg}}</div>
                                </div>
                                <div class="row" ng-show="key.is_keyword_uploaded == true">
                                    <div class="col-md-3 col-md-offset-1">
                                        Keyword Progress:
                                    </div>
                                    <div class="col-md-offset-3">
                                        <div class="col-sm-6"><uib-progressbar class="progress-striped active" value=key.keyword_progress type="success">{{key.keyword_progress}}%</uib-progressbar></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>